In [1]:
import pandas as pd

In [2]:
df_2019 = pd.read_excel('../../../microdados_enem_2019/DICIONÁRIO/Dicionário_Microdados_Enem_2019.ods',engine="odf", skiprows=286, usecols=[0,1])
df_2019.dropna(inplace=True)
df_2019.columns = ['num', 'question']

In [3]:
df_2019.head()

     num                                           question
0   Q001  Até que série seu pai, ou o homem responsável ...
8   Q002  Até que série sua mãe, ou a mulher responsável...
16  Q003  A partir da apresentação de algumas ocupações ...
22  Q004  A partir da apresentação de algumas ocupações ...
28  Q005  Incluindo você, quantas pessoas moram atualmen...

In [4]:
df_2018 = pd.read_excel('../../../microdados_enem2018/DICIONÁRIO/Dicionário_Microdados_Enem_2018.ods',engine="odf", skiprows=280, usecols=[0,1])
df_2018.dropna(inplace=True)
df_2018.columns = ['num', 'question']

In [5]:
df_2018.head()

     num                                           question
0   Q001  Até que série seu pai, ou o homem responsável ...
8   Q002  Até que série sua mãe, ou a mulher responsável...
16  Q003  A partir da apresentação de algumas ocupações ...
22  Q004  A partir da apresentação de algumas ocupações ...
28  Q005  Incluindo você, quantas pessoas moram atualmen...

In [6]:
df_2017 = pd.read_excel('../../../microdados_enem2017/DICIONÁRIO/Dicionário_Microdados_Enem_2017.ods',engine="odf", skiprows=279, usecols=[0,1])
df_2017.dropna(inplace=True)
df_2017.columns = ['num', 'question']

In [7]:
df_2017.head()

     num                                           question
0   Q001  Até que série seu pai, ou o homem responsável ...
8   Q002  Até que série sua mãe, ou a mulher responsável...
16  Q003  A partir da apresentação de algumas ocupações ...
22  Q004  A partir da apresentação de algumas ocupações ...
28  Q005  Incluindo você, quantas pessoas moram atualmen...

In [8]:
df_2016 = pd.read_excel('../../../microdados_enem2016/DICIONÁRIO/Dicionário_Microdados_Enem_2016.ods',engine="odf", skiprows=307, usecols=[0,1])
df_2016.dropna(inplace=True)
df_2016.columns = ['num', 'question']

In [9]:
df_2016.head()

     num                                           question
0   Q001  Até que série seu pai, ou o homem responsável ...
8   Q002  Até que série sua mãe, ou a mulher responsável...
16  Q003  A partir da apresentação de algumas ocupações ...
22  Q004  A partir da apresentação de algumas ocupações ...
28  Q005  Incluindo você, quantas pessoas moram atualmen...

In [15]:
df_2016['question'].values[:25]

array(['Até que série seu pai, ou o homem responsável por você, estudou?',
       'Até que série sua mãe, ou a mulher responsável por você, estudou?',
       'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).',
       'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação da sua mãe ou da mulher responsável por você. (Se ela não estiver trabalhando, escolha uma ocupação pensando no último trabalho dela).',
       'Incluindo você, quantas pessoas moram atualmente em sua residência?',
       'Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.)',
       'Em sua residência trabalha empregado(a) doméstico(a)?',
       'Na sua residência tem banheiro?',
       'Na sua residência tem quartos para dormir?',
       'Na sua residência tem carro?',
       'Na sua residência tem motocicleta?',
       'Na sua residência tem geladeira?',
       'Na sua residência tem freezer (independente ou segunda porta da geladeira)?',
       'Na sua residência tem máquina de lavar roupa? (o tanquinho NÃO deve ser considerado)',
       'Na sua residência tem máquina de secar roupa (independente ou em conjunto com a máquina de lavar roupa)?',
       'Na sua residência tem forno micro-ondas?',
       'Na sua residência tem máquina de lavar louça?',
       'Na sua residência tem aspirador de pó?',
       'Na sua residência tem televisão em cores?',
       'Na sua residência tem aparelho de DVD?',
       'Na sua residência tem TV por assinatura?',
       'Na sua residência tem telefone celular?',
       'Na sua residência tem telefone fixo?',
       'Na sua residência tem computador?',
       'Na sua residência tem acesso à Internet?'], dtype=object)

# Tests

In [10]:
set(df_2019['question'].values[:25]).difference(df_2018['question'].values[:25])

set()

In [11]:
set(df_2019['question'].values[:25]).difference(df_2017['question'].values[:25])

set()

In [12]:
set(df_2019['question'].values[:25]).difference(df_2016['question'].values[:25])

set()