### Analysis of factors that affect student's quality of academic performance

1- Age
2- Gender
3 - Geographical belongingness
4 - Ethnicity
5 - Marital status
6 - socioeconomic status (SES)
7 - parents’ education level
8 - parental profession
9 - language
10 - income
11 - religious affiliations

# Importação das bibliotecas

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import locale
import dask.dataframe as dd
from utils import load_parquets, info_sum_isna
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# Carregando os dados

### Dataset information:

In [22]:
#data = pd.read_csv("../datasets/MICRODADOS_ENEM_2018.csv", sep=';', encoding='cp1252', nrows=10000)
# data = pd.read_csv("../datasets/integrated_data.csv", sep=',', nrows=10000)

In [23]:
# data = dd.read_parquet('../datasets/integrated_datas.parquet.gzip', ignore_metadata_file=True)

In [24]:
test = ''

In [25]:
path = f'../datasets/integrated_datas_2020{test}.parquet.gzip'
data = dd.read_parquet(path, ignore_metadata_file=True)

# Exploração inicial dos dados

## Perfil aluno do Enem (Sex)

In [26]:
data.columns

Index(['NU_ANO', 'NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2',
       'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO',
       'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009',
       'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018',
       'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'TP_SES_INCOME',
       'TP_SES_POINTS'],
      dtype='object')

In [27]:
mulher = data[(data['TP_SEXO'] =='F') & (data['NU_ANO'] == 2020)]
homem = data[(data['TP_SEXO'] =='M') & (data['NU_ANO'] == 2020)]

In [28]:
mulher.head(10)

,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,TP_SES_INCOME,TP_SES_POINTS
0,2020,Cerro Largo,RS,3,F,1,1,1,1,3,...,A,B,B,A,D,A,B,B,E,DE
1,2020,João Pessoa,PB,5,F,1,3,1,2,3,...,A,B,A,A,C,A,A,A,E,DE
3,2020,Maceió,AL,7,F,1,3,1,1,3,...,A,B,B,A,C,A,B,B,E,DE
5,2020,Cristalândia,TO,6,F,1,3,1,1,3,...,A,B,A,A,C,A,B,A,E,DE
6,2020,Bragança Paulista,SP,5,F,1,2,1,2,2,...,A,A,A,A,C,A,A,B,E,DE
7,2020,Salvador,BA,10,F,1,9,1,1,2,...,A,B,B,A,E,A,B,B,E,C2
8,2020,Salvador,BA,12,F,1,14,1,1,3,...,B,C,B,B,D,A,B,B,E,C1
9,2020,Morada Nova,CE,6,F,1,4,1,1,1,...,A,B,A,A,C,A,B,B,E,C2
10,2020,Silves,AM,3,F,2,0,2,1,3,...,A,B,A,B,D,B,A,A,E,DE
11,2020,Mogi das Cruzes,SP,5,F,1,3,1,1,3,...,A,B,A,B,B,A,B,B,E,DE

In [29]:
homem.head(10)

,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,TP_SES_INCOME,TP_SES_POINTS
2,2020,Eunápolis,BA,7,M,1,0,1,1,1,...,A,B,A,A,C,A,B,B,E,DE
4,2020,Belém,PA,13,M,1,0,1,1,2,...,A,B,B,A,C,A,A,A,E,DE
15,2020,Embu das Artes,SP,11,M,1,0,1,1,3,...,A,B,A,B,B,A,A,B,D,DE
19,2020,Maracanaú,CE,12,M,1,14,1,1,2,...,A,B,A,B,C,A,A,B,E,DE
20,2020,Imperatriz,MA,13,M,1,14,1,1,3,...,A,B,B,A,C,A,A,B,E,DE
21,2020,Barbalha,CE,11,M,1,9,1,2,3,...,A,B,A,B,D,A,A,B,E,DE
22,2020,Salvador,BA,5,M,1,3,1,1,1,...,A,B,B,A,D,A,B,B,E,DE
24,2020,Rio Largo,AL,4,M,1,1,1,1,2,...,A,C,B,A,E,A,C,B,E,C1
25,2020,São Paulo,SP,2,M,2,0,2,3,3,...,A,C,A,A,D,A,A,B,E,C2
31,2020,Acaraú,CE,4,M,1,1,1,1,2,...,A,B,A,A,C,A,A,B,E,DE

In [30]:
print(len(mulher))
print(len(homem))

1549651
1011653

In [31]:
mulher = mulher.reset_index(drop=True)
homem = homem.reset_index(drop=True)

In [32]:
from statsmodels.stats.weightstats import zconfint, ztest

In [33]:
zconfint(homem.NU_NOTA_MT, mulher.NU_NOTA_MT)

(49.888038395670996, 50.462744065435295)

In [34]:
ztest(homem.NU_NOTA_MT, mulher.NU_NOTA_MT)

(342.2341727111333, 0.0)